<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Signup</title>
</head>

<body>
    <h3>WELCOME TO THE JUNGLE<% if (username) { %>,
        <% } %>
        <%= username %> </h3>
    <br>
    <form action="/signup" method="POST">
        <p><input class="text-input" type="text" name="username" placeholder="Username"></p>
        <p><input class="text-input" type="password" name="password" placeholder="Password"></p>
        <input id="submit" type="submit" value="Sign Up">
    </form>
    <br>
    <% if (badLogin) { %>
    <div class="error">
        <p>Your login attempt was unsuccessful. :(</p>
    </div>
    <% } %>
</body>

</html>